#main-container {
  height: 100%;
  max-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-container form {
  width: 300px;

  display: flex;
  flex-direction: column;
}

#main-container form input {
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 30px;
}

#main-container form button {
  height: 48px;
  background: #007ee5;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

#main-container form button:hover {
  opacity: 0.8;
}

#main-container #logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#main-container #logo #logo-text {
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #007ee5;
}

#main-container ul {
  width: 500px;
  margin: 30px 0;
  list-style: none;
}

#main-container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-container ul li a:hover {
  opacity: 0.8;
}

#main-container ul li + li {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #eee;
}

#main-container ul li .fileInfo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: none;
  border: none;
}

#main-container ul li .fileInfo strong {
  font-weight: normal;
  font-size: 14px;
  margin-left: 10px;
  color: #333;
}

#main-container ul li span {
  color: #999;
  font-size: 13px;
}
